<form>
    <label>Task Id</label>
    <input type="text" id="taskid" name="taskid" placeholder="Enter Task Id">
    <label for="url"> Repo URL</label>
    <input type="text" id="url" name="url" placeholder="Enter Your Repositry URL">
    
    <label for="Standard=I"> Standard-I</label>
    <input type="text"  name="std-I" placeholder="Standard Followed Yes Or No">
    <label for="Standard-II"> Standard-II</label>
    <input type="text"  name="Std-II" placeholder="Standard Followed Yes Or No">
    <label for="Standard-III"> Standard-III</label>
    <input type="text"  name="Std-III" placeholder="Standard Followed Yes Or No">
    <label for="Standard-IV"> Standard-IV</label>
    <input type="text"  name="Std-IV" placeholder="Standard Followed Yes Or No">
    <button>submit</button>
</form>